name: Build Android APK

on:
  push:
    branches:
      - android-port
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          pip install -r requirements_mobile.txt

      - name: Install Flet
        run: |
          pip install flet

      - name: Prepare requirements
        run: |
          mv requirements.txt requirements_desktop.txt
          mv requirements_mobile.txt requirements.txt

      - name: Build APK via Flet
        run: |
          ls -R
          yes | flet build apk . --verbose

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: app-release
          path: build/apk/app-release.apk # Adjust path based on where flet outputs
